<footer>
  <div class="footer-contact">
    <h3>Contato</h3>

    <p>
      <i class="fa-solid fa-phone"></i>
      (34) 99799-3262
    </p>
    <p>
      <i class="fa-regular fa-envelope"></i>
      marcelo.gonzagadecarvalho@hotmail.com
    </p>
    <p>
      <i class="fa-brands fa-github"></i>
      <a href="https://github.com/juniorkiobr"> Marcelo Junior</a>
    </p>
    <p>
      <i class="fa-brands fa-linkedin"></i>
      <a
        href="https://www.linkedin.com/in/marcelo-gonzaga-de-carvalho-j%C3%BAnior-729060185"
      >
        Marcelo Junior</a
      >
    </p>
  </div>
  <p class="copyright">©Marcelo Gonzaga</p>
</footer>
